@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-content {
    width: 20%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    border: 1px solid #003785;
    border-radius: 7px;
    padding: 40px;
}



.help,
.exit {
    width: 100%;
    margin-bottom: 20px;
}

.content {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 80%;
   
    
}

.top-content {

    width: 100%;
    display: flex;
    justify-content:center;
    
}

.inserirId {
    display: flex;
    align-items: center;
    width: 60%;
    
}
.inserirId button {
    margin-left: 15px;
    background-color: #01CA94;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    color: #fff;
    font-size: 15px;
    border: 1px solid #003785;
}

.inserirId button:hover {
    transform: scale(1.05);
  background-color: #003785;
  color: #fff;
  cursor: pointer;
}

.inserirId input {
    height: 35px;
    width: 100px;
    margin-left: 2px;
    border-radius: 7px ;
    border: 1px solid #003785;
}

.inserirId label {
    margin-right: 10px;
    color: #003785;
    font-size: 20px;
}

.help{
    display: flex;
    align-items: center;
    justify-content: center;

}

.help .imagem {
    margin-right: 5px;
}

.help,
.exit {
    text-align: center;
}

.exit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

@media (max-width: 768px) {
    .main-content {
        width: 80%; 
        
    }


 
}

@media (max-width: 460px) {
    .main-content {
        width: 100%;
    }



    .top-content {

        width: 60%;
        display: flex;
        justify-content:center;
        
    }
}

@media (width: 1280px) and (height: 720px) {
.imagem {
    width: 100%;
    height: auto;
}

.imagem img {
    width: 90%;
    height: auto;
}
  
   
}


    



 


  
  

 